<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>com.servlet.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMemoryData</servlet-name>
        <servlet-class>com.servlet.GetMemoryData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMemory</servlet-name>
        <servlet-class>com.servlet.AddMemory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMemoryByid</servlet-name>
        <servlet-class>com.servlet.UpdateMemoryByid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelMemoryById</servlet-name>
        <servlet-class>com.servlet.DelMemoryById</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProfileData</servlet-name>
        <servlet-class>com.servlet.GetProfileData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMemoryDataById</servlet-name>
        <servlet-class>com.servlet.GetMemoryDataById</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMemoryData</servlet-name>
        <url-pattern>/GetMemoryData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMemory</servlet-name>
        <url-pattern>/AddMemory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMemoryByid</servlet-name>
        <url-pattern>/UpdateMemoryByid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelMemoryById</servlet-name>
        <url-pattern>/DelMemoryById</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProfileData</servlet-name>
        <url-pattern>/GetProfileData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMemoryDataById</servlet-name>
        <url-pattern>/GetMemoryDataById</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
